<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2 mt-3">
        <body>
            <h1>Edit your listing</h1>
            <form
                action="/listings/<%=list._id%>?_method=put"
                method="post"
                novalidate
                class="needs-validation"
                enctype="multipart/form-data"
            >
                <div class="mb-3">
                    <label for="title" class="form-label">Title : </label>
                    <input
                        type="text"
                        value="<%=list.title%>"
                        name="title"
                        class="form-control"
                        required
                    />
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title required</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"
                        >Description :
                    </label>
                    <textarea
                        name="description"
                        id=""
                        class="form-control"
                        required
                    >
<%=list.description%></textarea
                    >
                    <div class="invalid-feedback">
                        Please enter valid description
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location : </label>
                    <input
                        type="text"
                        value="<%=list.location%>"
                        name="location"
                        class="form-control"
                        required
                    />
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price : </label>
                        <input
                            type="number"
                            value="<%=list.price%>"
                            name="price"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Price should be valid
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label"
                            >Country :
                        </label>
                        <input
                            type="text"
                            value="<%=list.country%>"
                            name="country"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Country should be valid
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    Original Listing Image <br />
                    <img class="editImageDisplay" src="<%= originalImageUrl %>" alt="" />
                </div>
                <div class="mb-3">
                    <label for="image[url]" class="form-label"
                        >Upload New Image :
                    </label>
                    <input type="file" name="image[url]" class="form-control" />
                </div>
                <button class="btn btn-dark edit-btn mt-3">edit</button>
            </form>
        </body>
    </div>
</div>
